<div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Password Reset</h4>
                                <p> Hello {{username}}! We at <a href = "swiftrevolver.com">SWIFT REVOLVER</a> understand that your security is very important. We also know how frustrating it is to forget your password and the goodnews is..."WE ARE HERE TO HELP!"</p>
                           <p> Please copy this link <br> swiftrevolver.com/reset/{{email}}/{{id}}/{{sponsor}}/{{username}}/{{pin}}<br> <br>into your browser or <a href="localhost:1437/reset/{{email}}/{{id}}/{{sponsor}}/{{username}}/{{pin}}}"> click here</a> to complete your registration and verify your email. Please be guided that this link expires in exactly 15 minutes. If you did not make this request, no need to panic... just ignore the message.</p>
                            </div>
                            
                        </div>
                    </div>