<div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">{{fullname}}, welcome to SWIFT REVOLVER</h4>
                                
                            </div>
                           <p> Hello {{fullname}}! We are really glad you decided to join us at <a href = "swiftrevolver.com">SWIFT REVOLVER</a> Your Login details are:<br></p>
                           <p>Username: {{username}}<br>
                         password: {{password}}
                         </p>
                          <!-- <p> Please <a href = "swiftrevolver.com/verify/{{username}}/{{email}}/{{phone}}/{{code}}/{{pin}}/">Click on this link </a> or copy this swiftrevolver.com/verify/{{username}}/{{email}}/{{phone}}/{{code}}/{{pin}}/ into your browser to complete your registration and verify your email.</p>-->
                          <a href="https://swiftrevolver.com/login">Log in</a> to your dashboard. Please, keep this mail.
                        </div>
                    </div>
                    