{{> spageh}}
{{> nav}}
{{#if error}}
	<div class="alert alert-danger">
    {{error}} 
  </div>
{{/if}}
<div class="alert alert-success">
    All Earnings are calculated in Nigerian Naira.
  </div>
  <div class="alert alert-success">
    Your current stage is {{stage}}
  </div>
<div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-success text-center">
                                            <i class="ti-wallet"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p><b>MY EARNINGS SUMMARY </b></p>
                                            <p>CASH: {{cash}}</p>
                                              <p>GIFT: {{gift}}</p>
                                                <p>TOTAL EARNED: {{total}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-reload"></i> Updated now
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-success text-center">
                                            <i class="ti-gift"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p><b>MY EARNINGS BREAKDOWN</b></p>
                                            <p>Feeder: {{feeder}} </p>
                                            <p>Stage One: {{stage1}}</p>
                                             <p>Stage Two: {{stage2}}</p>
                                              <p>Stage Three: {{stage3}}</p>
                                               <p>Stage Four: {{stage4}} </p><br>
                                                  <p>POWER BANK: {{powerbank}}</p>
                                              <p>PHONE : {{phone}}</p>
                                              <p>LAPTOP: {{laptop}}</p>
                                              <p>CAR: {{car}}</p>
                                              <p>EMPOWERMENT BONUS: {{empower}}</p>
                                              <p>LEADERSHIP BONUS: {{leadership}}</p>
                                              <p>SALARY: {{salary}}</p>
                                               
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-reload"></i> Updated Now
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-danger text-center">
                                            <i class="ti-wallet"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p><b>MY WALLET </b> </p>
                                                   <p>ACCOUNT BALANCE: {{balance}} </p>
                                           
                                               <form method ="POST" action ="/withdraw">
              <div class="form-group">
              <button type="submit" class="btn btn-primary">WITHDRAW</button>
              </div>
	  </form>
                                           
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-reload"></i> Updated Now
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-warning text-center">
                                            <i class="ti-user"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p><b>My Feeder Tree</b></p>
                                           {{#if feedertree}}
        {{#each feedertree}}
           <p>{{user}}</p>
        {{/each}}
        {{/if}}
                </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-reload"></i> Updated now
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                </div>
                <!-- Start the second phase to finish the dashboard -->
         <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-info text-center">
                                            <i class="ti-user"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p><b>My Stage One Tree</b></p>
                                            {{#if stage1tree}}
        {{#each stage1tree}}
           <p>{{user}}</p>
        {{/each}}
        {{/if}}
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-reload"></i> Updated now
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-warning text-center">
                                            <i class="ti-user"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Stage2</p>
                                            {{#if stage1tree}}
        {{#each stage2tree}}
           <p>{{user}}</p>
        {{/each}}
        {{/if}}
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-calendar"></i> Updated Now
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-danger text-center">
                                            <i class="ti-user"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Stage 3</p>
                                            {{#if stage3tree}}
        {{#each stage3tree}}
           <p>{{user}}</p>
        {{/each}}
        {{/if}}
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-timer"></i> In the last hour
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-dark text-center">
                                            <i class="ti-user"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Stage 4</p>
                                      {{#if stage4tree}}
        {{#each stage4tree}}
           <p>{{user}}</p>
        {{/each}}
        {{/if}}
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-reload"></i> Updated now
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{{> spagef}}