   <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Your Earnings</h4>
                                <h5 class="category">Feeder Stage:   {{noearnings}}</h5>
								<h5 class="category">Stage 1:   {{noearnings}}</h5>
								<h5 class="category">Stage 2:  {{noearnings}}</h5>
								<h5 class="category">Stage 3:   {{noearnings}}</h5>
								<h5 class="category">Stage 4:    {{noearnings}}</h5>
                            </div>
                            <div class="content">
							
                                
                                    <hr>
                                    <div class="stats">
                                        <i class="ti-reload"></i> Updated Now
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>