{{> spageh}}
<div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Verify Email</h4>
                                
                            </div>
                           <p> Hello {{username}} Your referral just Joined the matrix... </p>
                           <p>Name: {{fullname}}<br>
                           Username: {{username}} <br>
                           Email: {{email}} <br>
                           Phone: {{phone}} <br>
                           </p>
                           <br>
                             <br>
                             <br>
                             <p>Keep winning</p>
                           
                        </div>
                    </div>
                    {{> spagef}}